// ==============================
// Meridian Colors
// ==============================

$pine: #122A26;
$pine-2: #0D211D;
$background: #173832;
$paper: #FAF6EC;
$paper-2: #F1EADA;

$clay: #C77B3F;
$clay-dark: #A85F2C;

$sage: #7C9A82;

$ink: #1B1B16;
$ink-soft: #4B4B42;

$line: #E8DFC9;

$white: #FFFFFF;


// ==============================
// Bootstrap Variables
// ==============================

$primary: $pine;
$secondary: $sage;
$success: $paper;
$dark: $pine;
$light:$ink-soft;
$danger:$pine-2;
$warning:$background;
$muted:$paper-2;
$body-color: $ink; 
$link-color: $pine;
$link-hover-color: $clay-dark;
$info:$clay;
$border-color: $line;

$btn-border-radius: 50rem;